- name: Install hugo, the static web generator
  become: yes
  package:
    name: hugo
    state: latest
  when: role_version is version("0.1.0", "lt")
- name: Install patat, CLI markdown presentation tool
  become: yes
  package:
    name: patat
    state: latest
  when: role_version is version("0.1.0", "lt")
