{
    "orientation": "portrait",
    "pen_size": 10,
    "pen_color": "gray",
    "hide_pen_on_press": false,
    "ssh": {
        "address": "10.11.99.1",
        "insecure_auto_add_host": true,
        "key": "~/.ssh/id_rsa"
    }
}
