#!/bin/bash

# Initialize the data directory, if it does not exist
if [[ ! -d {{ rmdata }} ]]
then
    mkdir -p {{ rmdata }}
    pushd {{ rmdata }}
    git init
    git config commit.gpgsign false
    echo '.raw' > '.gitignore'
    git add .gitignore
    git commit -m "So it begins"
    popd
fi

# Get the newest updates from the cloud
pushd {{ rmdata }}
mkdir -p .raw
pushd .raw
~/.pqrs/bin/rmapi mget -i .

# Get the list of currently present documents and delete stale archives
~/.pqrs/bin/rmapi find . | grep '^\[f' | cut -d' ' -f2- | sed 's/$/.zip/' | sed 's/^/\./' > /tmp/rmsync-doclist

if [[ ! -z `cat /tmp/rmsync-doclist` ]]
then
  find . -type f -name '*.zip' | xargs -I{} bash -c 'if [[ -z `cat /tmp/rmsync-doclist | grep -F "{}"` ]]; then rm "{}"; fi'
  find . -type d -empty | xargs -I{} rmdir "{}"
fi

# Get the timestamp of the last successful sync
if [[ -f .last-sync ]]
then
  SINCE=`stat -c%Y .last-sync`
else
  SINCE=0
fi
touch /tmp/rmsync-start

# Convert updated documents
popd
python3 -m remarks --since $SINCE .raw/ .

# Record successfuly sync timestamp
mv /tmp/rmsync-start .raw/.last-sync

# Make a commit in the git
MSG=`date +'%a %b %e %H:%M:%S %Z %Y'`
git add .
git commit -a -m "$MSG"

popd
