- name: Install rmview dependencies
  become: yes
  package:
    name: python3-qt5
    state: present
- name: Clone rmview, a reMarkable display streamer
  git:
    repo: "git@github.com:tbabej/rmview.git"
    dest: "~/Installed/rmview"
    accept_hostkey: yes
    update: no
- name: Install remarks
  command: "sudo python3 -m pip install ."
  args:
    chdir: "~/Installed/rmview"
